@import url(reset.css);
@import url('http://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html{scroll-behavior: smooth;}
body{
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

.main{
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #222;
}

h2{
  border: 3px solid;
  padding: 5px 50px;
  border-radius: 50px;
  font-size: 26px;
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }


.allbt{box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);}
.allbt:hover{
  transform: translateY(1px);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}


/* __________ Section __________ */


/* __________ banner */
.banners{
  position: relative;
  width: 1200px;
  height: 620px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.banners .bn{
  position: absolute;
  width: inherit;
  height: inherit;
  background-position: left center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: 1s;
}

.banners .bn a{
  position: absolute;
  width: 1200px;
  height: 620px;}

.bn:nth-child(1){
  position: absolute;
  background-image: url(../image/mainbn-1.webp);
}
.bn:nth-child(2){
  position: absolute;
  border-radius: 0 20px 0 0;
  background-image: url(../image/mainbn-2.webp);
  transform: translateY(70%);
}
.bn:nth-child(3){
  position: absolute;
  border-radius: 0 20px 0 0;
  background-image: url(../image/mainbn-3.webp);
  transform: translateY(80%);
}
.bn:nth-child(4){
  position: absolute;
  border-radius: 0 20px 0 0;
  background-image: url(../image/mainbn-4.webp);
  transform: translateY(90%);
}

.banners .bn:hover{
  transform: translateY(10%);
  transform: scale(1);
}

/* __________ footer */

footer{
  margin-top: 20px;
  height: 85px;
  background-color: #111;
  width: 100%;
  padding: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
}

.ft-a a{
  border-right: 3px solid #222;
  padding-right: 20px;
  padding-left: 20px;
  font-style: normal;
}

.ft-a a:last-child{border-right: none;}
.cinfo{
  margin: 6px 0;
  width: 1200px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}
.cp{
  color: #666;
  font-weight: 400;
}

/* __________ nav */
nav{
  position: fixed;
  top: 50%;
  left: calc(50% - 580px);
  transform: translateY(-50%);
  z-index: 3;
}

nav img{width: 70px;}

nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
nav li{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 90px;
  background-color: #111;
  color: #fff;
  transform: scale(1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  transition: 0.2s cubic-bezier(0.000, 0.950, 0.725, 1.575);;
}

nav li:nth-child(1){
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}
nav li:nth-child(2){background:none; box-shadow: none;}

nav li:nth-last-child(1){
  transform: rotate(180deg);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 5px;
}

nav li:hover{background-color: #BE2843;}


nav li:nth-child(2):hover{background-color: #222;}

/* __________ rank */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
#rank{
  height: 700px;
  background:linear-gradient(180deg, #222, #111);
  box-sizing: border-box;
  overflow: hidden;
}
#rank h2{color: #a38f70;}

.container{
  display: flex;
  justify-content: end;
  width: 1200px;
  height: 100%;
  bottom: 0;
}

.gallery{
  width: 800px;
  height: 500px;
  display: flex;
  transition: 1s;
}


/* 카드 내부 */

.gallery li{
  position: relative;
  display: flex;
  bottom: 0;
  flex: 1;
  box-sizing: border-box;
  background-color: #222;
  color: #a38f70;
  overflow: hidden;
  padding: 15px;
  box-shadow: 3px 3px 10px #000;
  transition: 0.3s;
}

.number{min-width: 60px;}
.number span{
  font-family: "Libre Bodoni", serif;
  font-size: 42px;
  margin-right: 3px;
}
.number p{
  position: relative;
  font-size: 12px;
}


.info{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 320px;
}
.info .post{
  
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: inherit;
}
.img1{background-image: url(../image/thum_mu_ci.gif);}
.img2{background-image: url(../image/thum_mu_ba.gif);}
.img3{background-image: url(../image/thum_mu_king.gif);}
.img4{background-image: url(../image/thum_mu_lang.gif);}

.img5{background-image: url(../image/thum_mu_li.gif);}
.img6{background-image: url(../image/thum_mu_mi.gif);}
.img7{background-image: url(../image/thum_mu_gyoung.gif);}
.img8{background-image: url(../image/thum_mu_moo.gif);}


.cardr{
  text-align: center;
}

.cardr h3{margin-top: 8px;}
.wr{font-size: 12px; color: #161533;}

.cardr button{
  margin-top: 10px;
  width: max-content;
  height: 40px;
  border-radius: 40px;
  padding: 5px 30px;
  border-style: none;
  background-color: #BE2843;
  font-size: 16px;
  color: #fff;
}

/* hover effect */
.gallery:hover{width: 1050px;}
.gallery:hover li{flex: 1;}
.gallery li:hover{
  flex: 4;
  background-color: #a38f70;
  color: #222;
}
.gallery li:hover .content{
  bottom: 0;
  transition-delay: 0.5s;
}
.gallery li:hover::before{
  top: 0;
  transition-delay: 0.5s;
}

/* op */
#open{
  height: 800px;
  align-items: end;
  box-sizing: border-box;
  background-color: #222;
}
#open h2{
  color: #a38f70;
  transform: translateX(-500px);
}

#open h3{
  color: #161533;
  margin-top: 50px;
  font-size: 20px;
  transform: translateX(40%) ;
}

#open p{
  color: #fff;
  margin-top: 20px;
  transform: translateX(25%);
  
}
#open p::before{
  content: url(../image/Calendar_month.png);
}



#open section{
  position: relative;
  margin-right: 50px;
  display: flex;
  width: 1000px;
  height: 100%;
}


#open section .calender{
  position: absolute;
  left: 0;
  width: 70%;
  height: inherit;
  background-color: #BE2843;
}

#open  section .cal_detail{
    position: absolute;
    right: 0;
    width: 30%;
    height: inherit;
    background-color: #fff;
  }

/* __________ 캘린더 */


.calbt{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.calbt > a:nth-child(3) > img{transform: rotate(180deg);}

.calbt a{
  width: max-content;
  height: 40px;
  border-radius: 40px;
  padding: 20px 30px 10px;
  background-color: #161533;
  color: #fff;
}

.caltbbd{
  background-color: #fff;
  margin: 15px auto;
  width: 520px;
  height: 320px;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caltb{
  border-collapse: collapse;
  background-color: #fff;
  margin: 15px auto;
  border-radius: 15px;
  width: 500px;
  height: 300px;
  font-size: 14px;
}
.caltb td{
  width: 12%;
  height: 40px;
  text-align: center;  
  transition: 0.2s cubic-bezier(0.195, 1.175, 0.565, 1.650); 
}

tbody td:hover{transform: scale(1.3);}

.caltb thead{background-color: #161533; color: #fff;}
.calhd td:first-child,.calhd td:last-child{color: #b1fccb;}
.calhd td:first-child{border-radius: 10px 0 0 10px;}
.calhd td:last-child{border-radius: 0 10px 10px 0;}

.calbd{color: #161533;}
.calbd > tr > td:first-child,.calbd td:last-child{color: #BE2843;}

.bgday{color: #a38f70;}

.today{
  display: inline-block;
  color: #fff;
  background-color: #BE2843;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-content: center;
}

/* ___ */

.cal_detail{
  box-sizing: border-box;
  padding: 50px;
}

.cdt-list li:nth-child(1){color: #BE2843;}
.cdt-list li:nth-child(2){font-weight: 900;}
.cdt-list li:nth-child(3){font-size: 12px; color: #BE2843;}
.cdt-list li:nth-child(4) img {width: 100%;}
.cdt-list li:nth-child(5){
  width: max-content;
  height: 20px;
  border-radius: 40px;
  padding: 10px 20px 10px;
  background-color: #BE2843;
  margin: 10px auto;
  color: #fff;
  font-size: 12px;
}

.cdt-list img{margin-top: 10px;}

#key{
  height: 800px;
  background-color: #222;
}
#key h2{
  color: #a38f70;}

@keyframes key-ani{
  0%, 100%{transform: translate(0);}
  25%{transform: translateX(2px);}
  50%{transform: translateY(5px);}
  75%{transform: translateX(-2px);}
}

.kr1{left: 46%; top: 100px;
  animation: key-ani 5s infinite ;}
.kl1{right: 46%; top: 200px;
  animation: key-ani 6s infinite ;}
.kr2{left: 46%; top: 300px;
  animation: key-ani 3s infinite ;}
.kl2{right: 46%; top: 400px;
  animation: key-ani 10s infinite ;}

.k-al{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  align-items: end;
}

.k-section{
  position: relative;
  width: 1050px;
  height: 90%;
  background-color: #111;
  border-radius: 15px;
}

@keyframes mt-ani{
  0%, 100%{transform: translateX(0) translateY(0);}
  50% {transform: translateX(0) translateY(20px);}
}

.motion div{
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #BE2843;
  background-color: #BE2843;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.2;
  color: transparent;
  opacity: 100%;
  transition: 0.1s cubic-bezier(0.265, -0.380, 0.540, 1.650);
}

.motion div:nth-child(1){
  width: 140px; height: 140px; top: 20%; left: 10%;
  animation: mt-ani 5s infinite ;}
.motion div:nth-child(2){
  width: 100px; height: 100px; top: 20%; left: 80%;
  animation: mt-ani 10s infinite ;
}
.motion div:nth-child(3){
  width: 80px; height: 80px; top: 60%; left: 70%;
  animation: mt-ani 8s infinite ;
}
.motion div:nth-child(4){
  width: 35px; height: 35px; top: 55%; left: 20%;
  background-color: #b1fccb; border-color: transparent;
  animation: mt-ani 20s infinite ;
}

.motion div:nth-child(5){
  width: 50px; height: 50px; top: 40%; left: 65%;
  background-color: #b1fccb; border-color: transparent;
  animation: mt-ani 30s infinite ;
}

.motion div:hover{
  border-width: 2px;
  color: #fff;
  font-size: 11px;
  background-color: transparent;
}
.motion div:nth-child(4):hover
{opacity: 0%; transition: 0.4s;}
.motion div:nth-child(5):hover
{opacity: 0%; transition: 0.4s;}

  .key1{
  position: absolute;
  display: flex;
  height: max-content;
  pointer-events: none;
  gap: 5px;
}

.key1 .red_key{
  background-color: #BE2843;
  padding: 10px 30px;
  border-radius: 30px;
  pointer-events: all;
  z-index: 3;
  transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}


.key1 .red_key:hover{
  transform: scale(1.4);
}

.key1 .mint_key{
  background-color: #b1fccb;
  border-radius: 0 0 20px 20px;
  width: 102px;
  top: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.5s;
  font-size: 14px;
}
.key1:hover .mint_key{
  transform: translateY(150%);
  opacity: 100%;
  transition: 0.2s;
}


.mint_key::before{
  content: '';
  position: absolute;
  bottom: 80%;
  left: 0;
  width: 102px;
  height: 151px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  background-size: cover;
}

.k1:before{background-image: url(../image/thum_secf.gif);}
.k2:before{background-image: url(../image/thum_mu_li.gif);}
.k3:before{background-image: url(../image/thum_mu_lang.gif);}

.k4:before{background-image: url(../image/thum_ra.gif);}
.k5:before{background-image: url(../image/thum_mu_mi.gif);}
.k6:before{background-image: url(../image/thum_mu_king.gif);}

.k7:before{background-image: url(../image/thum_mu_gyoung.gif);}
.k8:before{background-image: url(../image/thum_2024_gbp.gif);}
.k9:before{background-image: url(../image/thum_ese.gif);}

.k10:before{background-image: url(../image/thum_mu_ba.gif);}
.k11:before{background-image: url(../image/thum_mu_ci.gif);}

/* __________ co */
#comment{
  height: 900px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #222;
}
#comment h2{color: #a38f70;}

.c-section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  
}

.c-section::before{
  position: absolute;
  content: '';
  left: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, #222 0%, rgba(250,250,250, 0)100%);
  z-index: 2;
}

.c-section::after{
  position: absolute;
  content: '';
  /* left: 0; */
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, #222 0%, rgba(250,250,250, 0)100%);
  z-index: 2;
}


.c-cards:hover .com-c
{ transition: 1s;
  border: 2px solid #333;}
.c-cards .com-c:hover
{ transition: 1s;
  border: 2px solid #a38f70;
}

.c-cards{
  justify-content: end;
  display: flex;
  width: 1200px;
  gap: 8px;
  overflow: hidden;
}

@keyframes slide-ani{
  0%{transform: translateX(100%);}
  100%{transform: translateX(0%);}
}

.com-c{
  left: 330px;
  width: 250px;
  height: max-content;
  padding: 20px;
  border: 2px solid #a38f70;
  animation: slide-ani 10s linear infinite alternate;
}

.cbk{
  position: relative;
  height: max-content;
  background-color: #fff;
  border: 20px solid #fff;
}

.c-post{
  margin-top: 10px;
  width: 100%;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

.com-c h5{color: #be2843;}

.com-c h4{margin-bottom: 4px;}

.com-text img{
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 6px;
}
.cbk p{
  display: inline;
  display: flex;
  text-align: left;
  font-size: 12px;
  color: #666;
}
.com-text p:after{
  content: '⭐⭐⭐⭐⭐';
  width: 240px;
  height: 30px;
  margin-left: 6px;
  justify-content: center;
}

.comment .rbt{
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: max-content;
  height: 40px;
  border-radius: 40px;
  padding: 10px 30px 11px;
  background-color: #be2843;
  color: #fff;
}

.rbt span{display: contents;}

/* __________ event */
#event{
  height: 500px;
  background-color: #222;
}
#event h2{color: #a38f70;}

.e-cards h3{
  font-size: 20px;
  color: #fff;
  padding-bottom: 5px;
}
.e-cards p{color: #a38f70;}
.e-cards img{width: 24px;}

.e-cards{
  display: flex;
  justify-content: end;
  text-align: center;
  width: 1100px;
  gap: 8px;
}

.e-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 240px;
  height: 260px;
  background: #222;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.3);
}

.e-card:before{
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  left: 0;
  top: 0;
  background-color: #a38f70;
  opacity: 10%;
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.e-card:after{
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  right: 0;
  bottom: 0;
  background-color: #a38f70;
  opacity: 10%;
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.e-card:hover{background: linear-gradient(130deg, #111, #222);}

.e-card:hover:before,
.e-card:hover:after
{width: 100%; opacity: 100%;}